faiss-cpu
sentence-transformers
transformers
accelerate
torch
langdetect
ipywidgets
jupyter
# Optional (section 15 - LangChain)
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-text-splitters
